html, body { height: 100%; width: 100%; margin: 0; padding: 0; }

#map{ 
  margin: 0; padding: 0; 
}

#search {
  top: 10px;
  color: #444;
  position: absolute;
  font-family: arial;
  height: auto;
  left: 80px; /*Avoid the map soom icons*/
  margin: 5px;
  padding: 10px;
  /*width: 300px;*/
  z-index: 40;
}
